body {
    background-image: url('../imgs/random2.gif'); 
    background-size: cover; 
    background-position: center;
    background-attachment: fixed; 
    margin: 0;
    padding: 20px; 
    display: flex;
    align-items: center; 
    justify-content: space-between; 
    height: 100vh; 
    box-sizing: border-box; 
    position: relative; 
}

body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    pointer-events: none; 
    border: 20px solid transparent; 
    border-image: url('../imgs/border.png') 30 fill; 
    z-index: 9999; 
}

@font-face {
    font-family: 'start';
    src: url('../start.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

h1 {
    font-family: start;
    color: white;
    z-index: 1; 
    text-shadow: 3px 3px 6px white;
    margin: 0;
    padding-left: 60px; 
    padding-top: 20px; 
    width: 250px; 
    line-height: 1.5; 
}

.videoContainer {
    position: absolute; 
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh; 
    z-index: 0; 
}

.videoContainer video {
    width: 100%;
    height: 100%;
    object-fit: contain; 
}


.textContainer {
    width: 250px; 
    height: 100vh; 
    z-index: 2; 
    display: flex;
    flex-direction: column;
    justify-content: center; 
    padding-left: 20px; 
    
}



.buttonContainer {
    width: 250px; 
    height: 100vh; 
    z-index: 3; 
    display: flex;
    align-items: center; 
    justify-content: flex-start; 
    right: 50px; 
    
}

.text-button {
    font-family: start;
    font-size: 2em;
    color: white;
    cursor: pointer;
    padding: 10px 20px;
    text-shadow: 2px 2px 5px white;
    transition: all 0.3s ease;
    background: transparent;
    display: inline-block;
    margin-top: 20px;
    position: relative;
    left: -80px;
}

.text-button::before {
    content: '>';
    font-size: 1.5em;
    color: white;
    margin-right: 10px;
    animation: blink 1s infinite;
    position: absolute;
    left: -40px;
    top: 50%;
    transform: translateY(-50%);
}

.text-button:hover {
    color: black;
    text-decoration: underline;
    left: -40px
}

.text-button:active {
    color: black;
    transform: translateY(2px);
    left: -40px
}

@keyframes blink {
    0%, 100% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
}
